<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="agenda">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="minhas-presencas">
      <ion-icon name="school"></ion-icon>
      <ion-label>Presenças</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comunicados">
      <ion-icon name="mail-unread"></ion-icon>
      <ion-label>Comunicados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
