<ion-header>
  <ion-toolbar>
    <ion-title>Minhas Presenças</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let visita of visitas | async">

      <ion-label text-wrap>
        <h1>Data: {{ visita.dia }}</h1>
        <h2>Materia: {{ visita.materiaNome }}</h2>
        <h2>Professor: {{ visita.professorNome }}</h2>
        <h2>Sala: {{ visita.sala }}</h2>

        <pre text-wrap>Hora entrada {{ visita.hora_entrada }}</pre>
        <pre text-wrap>Hora saida {{ visita.hora_saida }}</pre>

      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
